.color-headings {
  color: $headings-color;
}
.color-primary {
  color: $primary;
}
.color-default {
  color: $default;
}
.color-active {
  color: $active;
}
.color-info {
  color: $info;
}
.color-danger {
  color: $danger;
}
.color-gray {
  color: $blue-gray-1;
}