<div class="header-container header-height d-flex justify-content-end align-items-center right-offset">
  <div class="notification-wrapper">
    <button class="btn notification-button" (click)="openNotifications()">
      <i class="ui-icon icon-notifications"></i>
      <span class="fs-12 notification-count">4</span>
    </button>
    <app-notifications-panel *ngIf="showNotifications"
                             (clickOutside)="showNotifications = false"
                             class="notifications-panel"></app-notifications-panel>
  </div>
  <ul class="nav">
    <el-button type="success" round>Новая задача</el-button>
  </ul>
</div>
