@import "../../../scss/1-abstracts/variables";
:host {
  width: 100%;
  max-width: inherit;
}
.right-offset {
  padding-right: 40px;
}
.header-container {
  position: fixed;
  max-width: inherit;
  width: inherit;
  right: 0;
  background-color: #fff;
  border-bottom: 1px solid $blue-gray-4;
}
.notification-button {
  height: 35px;
  color: #b6c7d2;
  font-size: 2rem;
  margin-right: 3rem;
  position: relative;
  background-color: #fff;
  padding: 0.4rem 1rem 0;

  .notification-count {
    top: -0.25rem;
    right: 0.25rem;
    color: #fff;
    width: 2rem;
    height: 2rem;
    display: block;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    line-height: 2.15rem;
    background-color: #d55742;
  }
}
