.tasks-container {
  list-style: none;
  padding: 0;
  width: 100%;
  overflow-y: scroll;
  .task {
    width: 320px;
    max-width: 100%;
    padding: 15px;
    border: solid 0.7px #dadfea;
    border-left: 3px solid #02a785 !important;
  }
}