.bold-text{
  display: inline-block;
  margin: 0 0 10px;
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #354052
}
pre {
  background-color: #f5f5f5;
  padding: 15px;
}
body{
  font-size: 1.4rem!important;
}
.box-limit{
  background-color: #eff3f6;
  padding:45px;
}
.small-text{
  margin:0 5px 10px;
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #7f8fa4;
}
.filter-button{
  vertical-align: text-bottom;
  display: inline-block;
  width: 150px;
  height: 35px;
  border-radius: 3px;
  background-image: linear-gradient(to top, #f2f4f7, #ffffff);
  border: solid 1px #ced0da;
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: center;
  color: #354052;
}
.filter-bar-icon{
  padding: 9px;
  background: url("../filter.png") no-repeat;
}
:host /deep/ .cal-day-headers{
  padding:0!important;
}
:host /deep/ .cal-time-label-column{
  display:none!important;
}
:host /deep/ .cal-events-row{
  margin-left:0px!important;
  height:45px!important;
  padding: 1.5px 0;
}
:host /deep/ .cal-day-headers{
  border-left:none!important;
}
:host /deep/ .cal-all-day-events{
  border-left:none!important;
}
:host /deep/ .cal-time-events{
  border-left:none!important;
}
:host /deep/ *{
  border-width:0.7px!important;
  border-color:#dfe2e5!important;
}
:host /deep/ .cal-event{
  border-radius:24px 24px!important;
  background-color: rgba(2, 167, 133, 0.1)!important;
  height:100%!important;
}
:host /deep/ .cal-today{
  background-color: rgba(145, 174, 218, 0.1)!important;
}
// :host /deep/ .cal-event{
//
// }
:host /deep/ .avatar-container{
  // z-index:101;
  // top:150;
  // left:250;
  padding:5px;
  // list-style: none;
  border-radius:24px;
  // position: absolute;
  // .avatar:nth-child(n+3){
  //   background:white!important;
  //   font-family: HelveticaNeue;
  //   font-size: 16px;
  //   font-weight: normal;
  //   font-style: normal;
  //   font-stretch: normal;
  //   line-height: normal;
  //   letter-spacing: normal;
  //   text-align: center;
  //   color: #aab2c0;
  // }
  .avatar{
    background-size: 28px !important;
    border-radius:20px 20px;
    width:28px;
    height:28px;
    margin-left: -10px;
  }
  .more-avatar{
    text-align: center;
    border-radius:20px 20px;
    width:28px;
    height:28px;
    margin-left: -10px;
    background-color: #ffffff!important;
  }
}

.popup-window{
  // change d-none class to d-flex to make it visible
  position: absolute;
  z-index: 100;
  top:100;
  left: 100;
  width: 360px;
  height: 560px;
  border-radius: 3px;
  background-color: #ffffff;
  padding:25px;
  font-family: HelveticaNeue;
  font-size: 18px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.06;
  letter-spacing: normal;
  text-align: center;
  .popup-header{
    font-weight: 500;
    color: #354052;
  }
  .tasks-container{
    list-style: none;
    padding:0;
    width:100%;
    overflow-y: scroll;
    .task{
      width:100%;
      padding: 15px;
      border: solid 0.7px #dadfea;
      border-left:3px solid #02a785!important;
      margin-bottom: 15px;
      .task-info{
        margin-bottom:5px;
        font-family: HelveticaNeue;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.3;
        letter-spacing: normal;
        text-align: left;
        color: #aab2c0;
        .task-checkpoint{
          font-weight: 500;
          color: #002257;
        }
        .task-performer{
          color: #357ce0;
        }
        .task-check-period{
          color: #0f2f61;
        }
        .task-type{
          color: #0f2f61;
        }
      }
    }
  }
  .popup-button-close{
    width: 150px;
    height: 35px;
    opacity: 0.5;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #354052;
    border:none;
    border-radius: 3px;
    background-color: #eff3f6;
  }
}
