<div class="box bordered p-5" style="max-height: 400px">
    <div class="w-100 d-flex mb-4" style="margin-top: 2rem;">
        <p class="mt-2 mb-0 mr-4"><span class="fs-12">Город</span> <span class="color-headings  pl-3">Все</span></p>
        <p class="mt-2 mb-0 mr-4"><span class="fs-12">Сеть</span> <span class="color-headings  pl-3">Все</span></p>
        <p class="mt-2 mb-0 mr-4"><span class="fs-12">Исполнитель</span> <span class="color-headings  pl-3">Все</span></p>
        <p class="mt-2 mb-0 mr-4"><span class="fs-12">Период</span> <span class="color-headings  pl-3">15 Сен - 22 Сен, 2018</span></p>
        <p class="mt-2 mb-0 mr-4 ml-auto"><span class="fs-12">Сегодня</span> <span class="color-headings  pl-3">17 Сентябрь, 2018</span></p>
        <div class="ml-3">
            <el-button>
                <i class="fas fa-filter"></i>
                Фильтр
            </el-button>
        </div>
    </div>
    <app-mwl-calendar [eventTasks]="eventTasks"></app-mwl-calendar>
</div>
