$white: #ffffff;
$black: #000000;

$light-gray:   #f9f9f9;

$blue:        #004976;
$blue-dark:   #354052;
$blue-light:  #357ce0;
$blue-gray:   #485465;
$blue-gray-1: #7f8fa4;
$blue-gray-2: #8493a7;
$blue-gray-3: #b6c7d2;
$blue-gray-4: #dfe2e5;
$blue-gray-5: #e0e4e9;
$blue-gray-6: #eff3f6;

$red:         #d55742;
$red-light:   #f03354;

$yellow:      #f0ad1c;
$yellow-1:    #f7bf47;

$green:       #02a785;
$green-light: #45b854;
$green-1:     rgba(2,167,133,.5);
$green-2:     rgba(2,167,133,.3);


$headings-color:  $blue-dark;
$paragraph-color: $blue-gray-1;
$primary: $blue;




