@import "../../../../scss/1-abstracts/variables";

.ui-button {
  border-radius: 4px;
  height: 35px;
  font-size: 1.4rem;
  font-weight: 500;
  &.xl {
    min-width: 185px;
  }
  color: $blue-gray-2;
  cursor: pointer;
  transition: .2s;
  &:hover {
    opacity: .75;
  }
  :host.default & {
    background-color: $blue-gray-6;
    color: $blue-dark-1;
    &:focus{
      box-shadow: 0 0 0.1rem 0.1rem rgba($blue-dark-1, 0.4);
    }
  }
  :host.primary & {
    background-color: $blue;
    color: $white;
  }
}
:host button {
  background-color: transparent;
  width: 100%;
}