<div class="box mb-3">
	<app-tabs>
		<app-tab [title]="'Фотоотчеты '">
			<ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
		</app-tab>
		<app-tab [title]="'Коментарии'">
			<div class="gallery-comments">
				<p class="fs-14" style="font-weight: 500;">Комментарии к задаче</p>
				<p class="fs-14" style="color: #354052;">
					Разнообразный и богатый опыт новая модель организационной деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации. С другой стороны реализация намеченных плановых заданий представляет собой интересный эксперимент проверки соответствующий условий активизации.
				</p>
			</div>
		</app-tab>
	</app-tabs>

	<button class="btn">Закрыть</button>
</div>