.box {
	height: 580px;
	width: 360px;
	position: relative;
	padding: 30px 20px 95px;
}

.gallery-photos {
	max-height: 400px;
	overflow-x: auto;
	margin: 10px -10px 0;

	.col-6 {
		padding: 20px 10px 0;

		.bg-image-container {
			border-radius: 5px;
			cursor: pointer;
		}
	}
}

.gallery-comments {
	max-height: 400px;
	overflow-x: auto;
	margin-top: 10px;
	padding-top: 20px;
}

:host ::ng-deep app-tabs ul li {
	width: 50% !important;
}

button {
	left: 50%;
	bottom: 30px;
	width: 150px;
	font-size: 14px;
	font-weight: 500;
	position: absolute;
	color: rgba(#354052, 0.6);
	background-color: #eff3f6;
	transform: translateX(-50%);
}