.box {
	height: 580px;
	width: 360px;
	position: relative;
	padding: 30px 20px 95px;
}

.gallery-comments {
	max-height: 400px;
	overflow-x: auto;
	margin-top: 10px;
	padding-top: 20px;
}

:host ::ng-deep app-tabs ul li {
	width: 50% !important;
}

button {
	left: 50%;
	bottom: 30px;
	width: 150px;
	font-size: 14px;
	font-weight: 500;
	position: absolute;
	color: rgba(#354052, 0.6);
	background-color: #eff3f6;
	transform: translateX(-50%);
}


::ng-deep .ngx-gallery-thumbnail-size-cover .ngx-gallery-thumbnails .ngx-gallery-thumbnail, ::ng-deep .ngx-gallery-thumbnails .ngx-gallery-thumbnail {
	margin-top: 20px;
	border-radius: 5px;
	height: 0 !important;
	top: inherit !important;
	padding-bottom: calc(50% - 10px);
	width: calc(50% - 10px) !important;
}

::ng-deep .ngx-gallery-thumbnails .ngx-gallery-thumbnail {
	position: inherit !important;
}

::ng-deep .ngx-gallery-thumbnails-wrapper {
	position: initial !important;
}

::ng-deep .ngx-gallery-thumbnails {
	display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    max-height: 400px;
    height: auto !important;
    margin-left: 0 !important;
	position: inherit !important;
    justify-content: space-between;
}

ngx-gallery ::ng-deep .ngx-gallery-layout {
}

mgx-gallery ::ng-deep ngx-gallery-thumbnails {
	margin: 0 !important;
}