<div class="box mb-3">
	<app-tabs>
		<app-tab [title]="'Фотоотчеты '">
			<div class="row gallery-photos">
				<div class="col-6">
				    <div class="bg-image-container square"
				         style="background-image: url('../../../assets/img/gallery1.jpg')"
				    ></div>
		  		</div>
		  		<div class="col-6">
				    <div class="bg-image-container square"
				         style="background-image: url('../../../assets/img/gallery1.jpg')"
				    ></div>
		  		</div>
		  		<div class="col-6">
				    <div class="bg-image-container square"
				         style="background-image: url('../../../assets/img/gallery1.jpg')"
				    ></div>
		  		</div>
		  		<div class="col-6">
				    <div class="bg-image-container square"
				         style="background-image: url('../../../assets/img/gallery1.jpg')"
				    ></div>
		  		</div>
		  		<div class="col-6">
				    <div class="bg-image-container square"
				         style="background-image: url('../../../assets/img/gallery1.jpg')"
				    ></div>
		  		</div>
			</div>
		</app-tab>
		<app-tab [title]="'Коментарии'">
		</app-tab>
	</app-tabs>

	<button class="btn">Закрыть</button>
</div>