<div *ngIf="profile" class="box p-5">
    <div class="d-flex">
        <div style="min-width: 80px; margin-right: 20px">
            <div class="bg-image-container square circle"
                 [ngStyle]="{backgroundImage: 'url(' + (profile.avatar ? profile.avatar.url : '/assets/img/noavatar.jpg') + ')'}"
            ></div>
        </div>
        <div style="min-width: 220px">
            <div class="mb-3">
                <h2 class="mb-0">{{profile.firstName}}  {{profile.lastName}}</h2>
                <div class="">{{profile.formalPosition}}</div>
            </div>
            <ui-profile-status [status]="'vacation'" style="font-size: 1.6rem" class="cursor-pointer" *ngIf="!canControl"></ui-profile-status>
            <div ngbDropdown class="d-block mb-3" *ngIf="canControl">
                <div ngbDropdownToggle>
                    <ui-profile-status [status]="'vacation'" style="font-size: 1.6rem" class="cursor-pointer underline-hover"></ui-profile-status>
                </div>
                <div ngbDropdownMenu >
                    <button class="dropdown-item cursor-pointer">
                        <ui-profile-status [status]="'active'"></ui-profile-status>
                    </button>
                    <button class="dropdown-item cursor-pointer">
                        <ui-profile-status [status]="'vacation'"></ui-profile-status>
                    </button>
                    <button class="dropdown-item cursor-pointer">
                        <ui-profile-status [status]="'ill'"></ui-profile-status>
                    </button>
                </div>
            </div>
            <p class="mb-1" style="font-size: 1.2rem">
                <a href="mailto: {{profile.email}}">{{profile.email}}</a>
            </p>
            <p class="mb-1" style="font-size: 1.2rem">
                <a href="tel: {{profile.phone}}">{{profile.phone}}</a>
            </p>
        </div>
        <div class="mx-3 w-100">
            <div class="d-flex justify-content-between mb-5" *ngIf="canControl">
                <ui-button [routerLink]="['/dashboard/tasks']" class="default xl">Посмотреть все задачи</ui-button>
                <ui-button [routerLink]="['edit']" class="xl"><i class="ui-icon icon-settings-work-tool"></i> Изменить личные данные</ui-button>
            </div>
            <div class="d-flex justify-content-between mb-5" *ngIf="!canControl">
                <ui-button [routerLink]="['/dashboard/tasks/other']" class="default xl">Посмотреть все задачи</ui-button>
            </div>
            <div class="d-flex justify-content-between icon-circles flex-wrap">
                <ui-icon-circle [icon]="'ui-icon icon-clipboards'" class="mb-4">
                    <h5 class="title">Все задачи</h5>
                    <p class="number">{{profile.tasksInfo.all}}</p>
                </ui-icon-circle>
                <ui-icon-circle [icon]="'ui-icon icon-clipboards-4'" class="danger mb-4">
                    <h5 class="title">В процессе</h5>
                    <p class="number">{{profile.tasksInfo.inProgress}}</p>
                </ui-icon-circle>
                <ui-icon-circle [icon]="'ui-icon icon-clipboards-3'" class="warning mb-4">
                    <h5 class="title">Исправить</h5>
                    <p class="number">{{profile.tasksInfo.fix}}</p>
                </ui-icon-circle>
                <ui-icon-circle [icon]="'ui-icon icon-clipboards-2'" class="success mb-4">
                    <h5 class="title">Выполнено</h5>
                    <p class="number">{{profile.tasksInfo.completed}}</p>
                </ui-icon-circle>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!profile" class="box p-5">
    <div class="d-flex">
        <div style="min-width: 80px; margin-right: 20px">
            <div class="bg-image-container square circle bg-placeholder"></div>
        </div>
        <div style="min-width: 220px">
            <div class="mb-3">
                <h2 class="mb-4 text-placeholder" style="width: 180px"></h2>
                <p class="text-placeholder" style="width: 90px"></p>
            </div>
        </div>
        <div class="mx-3 w-100">
            <div class="d-flex justify-content-between mb-5">
                <div class="btn btn-placeholder" style="width: 230px"></div>
            </div>
            <div class="d-flex justify-content-between icon-circles flex-wrap">
                <ui-icon-circle class="mb-4 l-placeholder">
                    <h5 class="text-placeholder" style="width: 100px;"></h5>
                    <p class="text-placeholder" style="width: 20px;"></p>
                </ui-icon-circle>
                <ui-icon-circle class="mb-4 l-placeholder">
                    <h5 class="text-placeholder" style="width: 100px;"></h5>
                    <p class="text-placeholder" style="width: 20px;"></p>
                </ui-icon-circle>
                <ui-icon-circle class="mb-4 l-placeholder">
                    <h5 class="text-placeholder" style="width: 100px;"></h5>
                    <p class="text-placeholder" style="width: 20px;"></p>
                </ui-icon-circle>
                <ui-icon-circle class="mb-4 l-placeholder">
                    <h5 class="text-placeholder" style="width: 100px;"></h5>
                    <p class="text-placeholder" style="width: 20px;"></p>
                </ui-icon-circle>
            </div>
        </div>
    </div>
</div>
