@import "../../../../scss/1-abstracts/index";

a {
  color: $default;
}

:host {
  display: block;
}
.icon-circles {
  .title {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .number {
    font-size: 2.4rem;
    font-weight: 500;
    margin: 0;
  }
}

.avatar-upload {
  padding: 0;
  border: 1px transparent dashed;
  border-radius: 50%;
  transition: 200ms;
  &:hover {
    padding: 2px;
    border-color: #4da8ec;
  }
}