<div class="row mb-4">
    <div class="col-md-6">
        <p>Показать от</p>
        <ui-datepicker></ui-datepicker>
    </div>
    <div class="col-md-6">
        <p>До</p>
        <ui-datepicker></ui-datepicker>
    </div>
</div>
<div class="d-flex">
    <div class="col-6">
        <ngx-chartjs type="doughnut" [legend]="{display: false}" [data]="data" [width]="300" [height]="300"></ngx-chartjs>
    </div>
    <div class="col-6">
        <ui-chart-legends [data]="legend" [vertical]="true"></ui-chart-legends>
    </div>
</div>
