ul {
  padding-left: 3rem;
  border-bottom: 1px solid #dfe2e5;

  li {
    cursor: pointer;
    margin-right: 4rem;
    padding: 2rem 0 1.5rem;

    &:hover {

    }

    &.active {
      color: #354052;
      position: relative;

      &:after {
        content: '';
        height: 3px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1px;
        background-color: #004976;
      }
    }
  }
}
