<div class="header-height left-offset d-flex align-items-center border-blue-gray" style="border-bottom: 1px solid">
  <img src="../../../assets/img/logo@2x.jpg" height="26px" alt="" style="max-height: 100%">
</div>
<ul class="my-5 nav flex-column">
  <a [routerLink]="['home']" [routerLinkActive]="['active']">
    <li class="left-offset">
      <i class="el-icon-menu"></i> <span>Главная</span>
    </li>
  </a>
  <a [routerLink]="['tasks']" [routerLinkActive]="['active']">
    <li class="left-offset">
      <i class="el-icon-menu"></i> <span>Задачи</span>
    </li>
  </a>
  <a [routerLink]="['calendar']" [routerLinkActive]="['active']">
    <li class="left-offset">
      <i class="el-icon-menu"></i> <span>Календарь</span>
    </li>
  </a>
  <a [routerLink]="['contacts']" [routerLinkActive]="['active']">
    <li class="left-offset">
      <i class="el-icon-menu"></i> <span>Контакты</span>
    </li>
  </a>
  <a [routerLink]="['analytics']" [routerLinkActive]="['active']">
    <li class="left-offset">
      <i class="el-icon-menu"></i> <span>Аналитика</span>
    </li>
  </a>
  <a [routerLink]="['photos']" [routerLinkActive]="['active']">
    <li class="left-offset">
      <i class="el-icon-menu"></i> <span>Фото отчеты</span>
    </li>
  </a>
</ul>
