<div class="aside-container d-flex flex-column">
  <div class="header-height left-offset d-flex align-items-center border-blue-gray" style="border-bottom: 1px solid">
    <img src="../../../assets/img/logo@2x.jpg" height="26px" alt="" style="max-height: 100%">
  </div>
  <div class="d-flex flex-column h-100">
  <ul class="my-5 nav flex-column flex-nowrap">
    <a [routerLink]="['home']" [routerLinkActive]="['active']">
      <li class="left-offset">
        <i class="fas fa-home"></i> <span>Главная</span>
      </li>
    </a>
    <a [routerLink]="['tasks']" [routerLinkActive]="['active']">
      <li class="left-offset">
        <i class="fas fa-tasks"></i> <span>Задачи</span>
      </li>
    </a>
    <a [routerLink]="['calendar']" [routerLinkActive]="['active']">
      <li class="left-offset">
        <i class="fas fa-calendar-alt"></i> <span>Календарь</span>
      </li>
    </a>
    <a [routerLink]="['contacts']" [routerLinkActive]="['active']">
      <li class="left-offset">
        <i class="fas fa-address-book"></i> <span>Контакты</span>
      </li>
    </a>
    <a [routerLink]="['analytics']" [routerLinkActive]="['active']">
      <li class="left-offset">
        <i class="fas fa-chart-bar"></i> <span>Аналитика</span>
      </li>
    </a>
    <a [routerLink]="['gallery']" [routerLinkActive]="['active']">
      <li class="left-offset">
        <i class="fas fa-images"></i> <span>Фото отчеты</span>
      </li>
    </a>
    <div *ngIf="isDevMode" #devPanel>
      <div class="border-line"></div>
      <a [routerLink]="['bekzhan']" [routerLinkActive]="['active']">
        <li class="left-offset">
          <i class="far fa-angry"></i> <span>Бекжан модуль</span>
        </li>
      </a>
      <a [routerLink]="['yerbol']" [routerLinkActive]="['active']">
        <li class="left-offset">
          <i class="fas fa-wheelchair"></i> <span>Ербол модуль</span>
        </li>
      </a>
    </div>
  </ul>
  <ul class="mt-auto mb-0 nav flex-column">
    <a routerLink="/logout" [routerLinkActive]="['active']">
      <li class="left-offset">
        <i class="fas fa-sign-out-alt"></i> <span>Выйти из аккаунта</span>
      </li>
    </a>
  </ul>
  </div>
</div>