<div class="profile-notifications">
  <app-notification [type]="'success-user'" class="cursor-pointer"></app-notification>
  <app-notification [type]="'entrust-to'" class="cursor-pointer"></app-notification>
  <app-notification [type]="'success-self'" class="cursor-pointer"></app-notification>
  <app-notification [type]="'entrust-from'" class="cursor-pointer"></app-notification>
  <app-notification [type]="'accept-user'" class="cursor-pointer"></app-notification>
  <app-notification [type]="'success-user'" class="cursor-pointer"></app-notification>
  <app-notification [type]="'entrust-to'" class="cursor-pointer"></app-notification>
  <app-notification [type]="'success-self'" class="cursor-pointer"></app-notification>
  <app-notification [type]="'entrust-from'" class="cursor-pointer"></app-notification>
  <app-notification [type]="'accept-user'" class="cursor-pointer"></app-notification>
</div>
