::ng-deep .btn-blue {
	border: 0;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	background-color: #004976;
}

::ng-deep .btn-gray {
	border: 0;
	color: #354052;
	font-size: 14px;
	font-weight: 500;
	background-color: #eff3f6;
}