<div class="container my-5">
  bekzhan works!

  <app-authorization></app-authorization>

  <app-tasks-inner></app-tasks-inner>

  <app-gallery-more-info></app-gallery-more-info>

  <app-tabs>
    <app-tab [title]="'People '">
      <h3>List of People</h3>
      <hr />
      <button class="btn btn-default" (click)="onOpenAbout()"><i class="glyphicon glyphicon-question-sign"></i> About this</button>
    </app-tab>
    <app-tab [title]="'ARr '">
      asd
    </app-tab>
    <app-tab [title]="'asdq'">
      <h3>List of Peopleasda</h3>
      <hr />
      <button class="btn btn-default" (click)="onOpenAbout()"><i class="glyphicon glyphicon-question-sign"></i> About this</button>
    </app-tab>
  </app-tabs>

  <div class="box mb-3">
    <app-profile-notifications></app-profile-notifications>
  </div>

  <div class="box mb-3">
    <app-new-task></app-new-task>
  </div>

  <div class="box mb-3">
    <app-task-filter></app-task-filter>
  </div>

  <div class="box mb-3">
    <app-proverka-dolei-filter></app-proverka-dolei-filter>
  </div>

  <div class="box mb-3">
    <app-account-settings></app-account-settings>
  </div>

  <div class="box mb-3">
    <app-gallery-filter></app-gallery-filter>
  </div>

  <div class="box mb-3">
    <app-gallery></app-gallery>
  </div>

  <app-gallery-filter></app-gallery-filter>

</div>
