<div *ngIf="status === 'active'; else vacation" #active class="color-active">
  <i class="ui-icon icon-office-worker"></i>
  <span>Активен</span>
</div>

<div *ngIf="status === 'vacation'; else ill" #vacation class="color-info">
  <i class="ui-icon icon-sun-umbrella"></i>
  <span>В отпуске</span>
</div>

<div *ngIf="status === 'ill'; else none" #ill class="color-danger">
  <i class="ui-icon icon-pills"></i>
  <span>Заболел</span>
</div>

<div *ngIf="!status || status === ''" #none class="color-gray">
  <span>Статус не указан</span>
</div>
