<div *ngIf="status === 'active'; else vacation" #active class="color-active">
  <i class="ui-icon icon-office-worker"></i>
  <span>Активен</span>
</div>

<ng-template  #vacation>
  <div *ngIf="status === 'vacation'; else ill" class="color-info">
    <i class="ui-icon icon-sun-umbrella"></i>
    <span>В отпуске</span>
  </div>
</ng-template>

<ng-template #ill>
  <div *ngIf="status === 'ill'; else none" class="color-danger">
    <i class="ui-icon icon-pills"></i>
    <span>Заболел</span>
  </div>
</ng-template>

<ng-template #none>
  <div *ngIf="!status || status === ''" class="color-gray">
    <span>Статус не указан</span>
  </div>
</ng-template>
