
<div class="container my-5">
  <div class="p-5 box">
    <p>Ссылка на Zeplin <a target="_blank" href="https://app.zeplin.io/project/5b5e9681e3315bb1675f0023">https://app.zeplin.io/project/5b5e9681e3315bb1675f0023</a></p>
    <p>Ссылка на Notion <a target="_blank" href="https://www.notion.so/Unilever-Front-871ff7fd4f4e41e8ba613ff576289e7c">https://www.notion.so/Unilever-Front-871ff7fd4f4e41e8ba613ff576289e7c</a></p>
  </div>
</div>

<div class="container my-5">
  <ui-profile-window class="d-block mb-5"></ui-profile-window>
  <app-task-table></app-task-table>
</div>

<app-yerbol></app-yerbol> <!-- Глобальный вызов экспортируемого компонента из модуля Бекжана(bekzhan.module.ts) -->