<div class="container">
  <app-profile-window></app-profile-window>
</div>
<h4>Hello</h4>
<p> good bye </p>
<div class="row">
  <div class="col-3">a</div>
  <div class="col-3">c</div>
  <div class="col-3">b</div>
  <div class="col-3">d</div>
</div>
<h1 class="mb-5">Madina, перестань говорить плохие вещи про SDU</h1>
<h2>Madina, перестань говорить плохие вещи про SDU</h2>
<h3>Madina, перестань говорить плохие вещи про SDU</h3>
<h4>Madina, перестань говорить плохие вещи про SDU</h4>
<h5>Madina, перестань говорить плохие вещи про SDU</h5>
<h6>Madina, перестань говорить плохие вещи про SDU</h6>
<p>Madina, перестань говорить плохие вещи про SDU</p>

