$box-background-color: $white !default;
$box-border-color: $blue-gray-4;
$box-radius: 3px !default;
.box {
  background-color: $box-background-color;
  border-radius: $box-radius;
  &.bordered {
    border: 1px solid $box-border-color;
  }
}
.box-bordered {
  border: 1px solid $box-border-color;
}