.btn {
  &.btn-gray {
    background-color: $blue-gray-6;
    color: rgba($blue-dark, .5);
    font-weight: 500;
    font-size: 1.4rem;
    border: 0;
  }
  &.btn-blue {
    border: 0;
    color: $white;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: $blue;
  }
}

.btn, .btn:focus, button, button:focus, .el-button {
  outline: none;
  padding: 6px 20px;
  min-height: 35px;
  &.py-def {
    padding: 6px;
  }
}

.el-button--success {
  background-color: $green-light;
  border-color: $green-light;
  &:focus, &:hover {
    background: $green-light-1;
    border-color: $green-light-1;
    color: #fff;
  }
}

