:host {
  display: block;
  padding: 35px 20px;
}

.profile-box {
	@media screen and (max-width: 1405px) {
	    max-width: 32%;
	}
}

.managers-row {
	margin-left: -10px;
	margin-right: -10px;
	[class^="col-"] {
		padding-left: 10px;
		padding-right: 10px;
	}
}