<div class="box pt-2 pb-4 mb-5 bordered">
  <nav mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let tab of tabs"
       [routerLink]="[tab.path]"
       [active]="selectedPath === tab.path"
    > {{tab.label}} </a>
  </nav>
</div>
<div class="d-flex">
  <div class="box bordered task-types mr-4" style="min-width: 210px">
    <h3 class="color-gray mb-4">Типы задач</h3>
    <ul class="color-headings font-weight-500 pl-0">
      <li class="mb-3 active">Промоактивности</li>
      <li class="mb-3">Проверка долей</li>
      <li class="mb-3">Сбор цен</li>
      <li class="mb-3">Дополнительные</li>
    </ul>
  </div>
  <div class="w-100 box-bordered">
    <router-outlet></router-outlet>
  </div>
</div>