<div *ngIf="!badRoute; else badRouteRef">
  <div class="d-flex align-items-center justify-content-between mb-4">
    <h2>{{typeName}}</h2>
    <ui-filter-container>
      <app-tasks-filter></app-tasks-filter>
    </ui-filter-container>
  </div>
  <div class="data-table-container mx--5" [el-loading]="isLoading()">
    <ui-tasks-data-table class="data-table" [taskType]="type" emptyMessage="Задач нет" [displayedColumns]="displayedColumns" [dataSource]="tasks" *ngIf="displayedColumns.length > 0">
    </ui-tasks-data-table>
  </div>
</div>

<ng-template #badRouteRef>
  <div>
    <h2>Данной таблицы не существует</h2>
  </div>
</ng-template>