.filter-box {
  position: absolute;
  z-index: 1000;
  width: 110px;
  .filter-box-content {
    position: absolute;
    right: 0;
    z-index: 1000;
    top: 3px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    animation: fade-in 200ms;
  }
  .filter-box-backdrop {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    backdrop-filter: blur(1px);
    background-color: rgba(19, 24, 32, 0.8);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}