<div class="account-settings">
  <el-form label-width="0"
           label-position="top"
           (ngSubmit)="handleSubmit()"
           [formGroup]="form"
           *ngIf="profile"
           [show-message]="true"
           [show-icon]="true"
           [ngClass]="{'dirty-submit': !cleanSubmit}"
  >

    <div class="account-settings-top">
      <el-form-item label="Имя" [error]="messageCtrl('first_name')">
        <el-input formControlName="first_name"></el-input>
      </el-form-item>

      <el-form-item label="Фамилия" [error]="messageCtrl('last_name')">
        <el-input formControlName="last_name"></el-input>
      </el-form-item>

      <el-form-item label="Номер телефона" [error]="messageCtrl('phone')">
        <el-input formControlName="phone"></el-input>
      </el-form-item>
    </div>

    <hr>

    <div class="account-settings-bottom">

      <div class="mb-4">
        <label>Логин</label>
        <p class="fs-14 mb-0" style="color: #000;">{{profile.email}}</p>
      </div>

      <el-form-item label="Сменить пароль"  [error]="messageCtrl('password')">
        <el-input formControlName="password" native-type="password"></el-input>
      </el-form-item>

      <el-form-item label="Подтвердите пароль"  [error]="messageCtrl('passwordC')" *ngIf="values.password">
        <el-input formControlName="passwordC" native-type="password"></el-input>
      </el-form-item>

      <div class="d-inline-block pr-2 w-50">
        <ui-button class="default d-block" (click)="handleCancel()">
          Закрыть
        </ui-button>
      </div>
      <div class="d-inline-block pl-2 w-50" (click)="handleSubmit()">
        <ui-button class="primary d-block">
          Изменить
        </ui-button>
      </div>
    </div>
  </el-form>
</div>