.profile-notifications {
  width: 35rem;
  max-height: 36rem;
  overflow-y: auto;
  border-radius: 4px;
  background-color: #fff;
  border: solid 1px #dfe3e9;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.08);
}
