<div class="d-flex mt-5 gallery-item">
  <div style="min-width: 100px; margin-right: 20px;">
    <div class="bg-image-container square"
         style=" border-radius: 5px; background-image: url('../../../assets/img/gallery2.jpg')"
    ></div>
  </div>

  <div class="color-headings">
    <p class="fs-10 color-gray">27 Декабрь</p>
    <p class="fs-10">Атырау, Магнум 1</p>
    <p class="fs-12">Юрий Спиридонов</p>

    <div>
      <el-tooltip placement="top" class="mr-2">
        <el-button class="py-def" style="height: 35px; width: 35px">
          <i class="far fa-file-archive"></i>
        </el-button>
        <ng-template #tip><span>Скачать архивом</span></ng-template>
      </el-tooltip>
      <el-button class="py-def">
        Подробнее
      </el-button>
    </div>
  </div>
</div>